// ** Background Colors **
$darkBgColor: #232323; // Off White: #faf9f6, Ghost White: #f8f8ff
$lightBgColor: #d9d7ce;

// ** Main Theme Colors **
$mainThemeColor1: rgb(9, 103, 231);
$mainThemeColor2: rgb(255, 0, 132);

// ** Main Colors **
$errorColor: rgb(117, 26, 26);

// ** Font Colors **
$darkFontColor: $darkBgColor;
$lightFontColor: $lightBgColor;
$secondaryFontColor: white;
$errorFontColor: red;
