// ** Main Colors **
$errorColor: rgb(117, 26, 26);

// ** Font Colors **
$mainFontColor: black;
$secondaryFontColor: white;
$highlightFontColor: rgb(23, 100, 97);
$errorFontColor: red;

// ** Background Colors **
$mainBgColor: #242424; // Off White: #faf9f6, Ghost White: #f8f8ff
$seconaryBgColor: #fff;
$headerBgColor: rgb(0, 16, 23);

// ** Components Colors **
$backButtonBgColor: rgb(226, 62, 62);

// ** Button Colors **
$btnColor: #6b6b6b;
$greenBtnColor: #28a745;
$redBtnColor: #e73939;
