html {
  font-size: clamp(12px, 1.2vw, 16px);

  @media (max-width: 900px) {
    font-size: clamp(14px, 1.8vw, 30px);
  }
}

html * {
  font-family: Work Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif !important;

  transition: background-color 0.5s, transform 0.2s, width 0.5s ease, height 0.5s ease,
    margin 0.5s ease, padding 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease,
    right 0.5s ease, font-size 0.2s ease;
}
